<ion-menu contentId="main-content" side="start" type="push">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">
        <ion-icon slot="start" name="home"></ion-icon>
        Home
      </ion-item>
      <ion-item routerLink="/about">
        <ion-icon slot="start" name="information-circle"></ion-icon>
        About
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main page -->
<div class="ion-page" id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>
